.bg-gray{
    background: #eee;
}
.bg-white{
    background: #fff;
}
.bg-blue{
    background: #357ebd;
}
.l-top-bottom{
    margin-top: 0px ;
    margin-bottom: 10px;
}
.bottom-border{
    border-bottom: 1px solid #eee;
}
.color-gray{
    color:#999;
}
.color-white{
    color:#ffffff;
}
.clear-margin{
    margin:0px;
}
.font-normal{
    font-size: 15px!important;
}
.l-padding-full{
    padding: 30px 15px;
}
.l-center{
    margin:0 auto;
}
.l-width-full{
    width: 100%;
}
.l-login-panel{
    width: 420px;
    padding: 40px 15px;
}
.l-register-panel{
    width: 420px;
    padding: 20px 15px;
}
.l-padding-horizontal{
    padding-left: 15px;
    padding-right: 15px;
}
.l-padding-vertical{
    padding-top: 15px;
    padding-bottom: 15px;
}


/**editor*/


.l-editor {
    max-height: 400px;
    height: 400px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

.l-select{
    max-height: 450px;
    overflow: auto;
}
.l-option{
    min-height:40px !important;
    line-height: 40px!important;
    border-top: 1px solid #e5e5e5;
 }
.l-option:hover{
    background: #5bc0de!important;
    color: #fff!important;
}
.l-option-current{
    background: #5bc0de!important;
    color: #fff!important;
}
a{
    color: #5bc0de;
}
a:hover{
    color: #5bc0de;
}

.l-heigh-200{
    height: 200px!important;
    resize: none;
}
.l-no-resize{
    resize: none;
}


.goto-top {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    position: fixed;
    display: none;
	font-size: 45px;
    color: #999;
}

.goto-top:hover {
	color:#5bc0de;
    text-decoration: none;
}

::-moz-selection {
    background: #5bc0de;
    color: #FFF;
}

::selection {
    background: #5bc0de;
    color: #FFF;
}
.shadow {
text-shadow: 0 1px 1px rgba(0,0,0,0.8);
-webkit-transition: background-color .1s linear;
-moz-transition: background-color .1s linear;
-o-transition: background-color .1s linear;
-ms-transition: background-color .1s linear;
transition: background-color .1s linear;
}	
.shadow li{
transition: .3s;
-webkit-transition: .3s;
text-shadow: 0 1px 1px rgba(0,0,0,0.8);
-webkit-transition: background-color .5s linear;
-moz-transition: background-color .5s linear;
-o-transition: background-color .5s linear;
-ms-transition: background-color .5s linear;
transition: background-color .5s linear;
}	

.current-menu{
    background: #fff;
    color: #357ebd;
}
.l-category-min-wight{
    min-width: 120px;
}