<%- include header %>
<ol class="breadcrumb">
    <li><a href="/" title="Go Home">Home</a></li>
    <li class="active">About</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">About</div>
    <div class="panel-body">
        <p>NODELOG 为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
        <br />
        <p>NODELOG 社区由一批热爱 Node.js 技术的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
        <p>我们专注于前端技术研究，包括：js、jquery、ajax、nodejs(express,ejs,mongodb),requirejs,AngularJS等。</p>
    </div>
</div>
<input type="hidden" class="js-current-menu" value="js-home-about"/>
<%- include footer %>
