</article>
</div>
<div class="jumbotron bg-white clear-margin">
    <div class="container color-gray font-normal">
    <p class="font-normal">&copy; 2014 CREATE THINKING CMS  All Right Reserve</p>
    <p class="font-normal">本CMS系统为开源系统，版本: 1.0 ，欢迎贡献代码</p>
    </div>
</div>
<script data-main="/js/main" src="/js/require.js"></script>
<!--<script src="/js/jquery-1.10.2.js"></script>-->
<!--<script src="/js/bootstrap-2.3.1.min.js"></script>-->
<!--<script src="/js/jquery.pin.js"></script>-->
<!--<script src="/js/layer.min.js"></script>-->
<!--<script src="/js/gotoTop.js"></script>-->
<!--<script src="/js/common.js"></script>-->
<!--<script src="/js/external/jquery.hotkeys.js"></script>-->
<!--<script src="/js/external/google-code-prettify/prettify.js"></script>-->
<!--<script src="/js/bootstrap-wysiwyg.js"></script>-->
<!--<script src="/js/editor.js"></script>-->
</body></html>
