</article>
</div>
<div class="jumbotron bg-white clear-margin">
    <div class="container color-gray font-normal">
    <p class="font-normal">&copy; 2014 NODELOG  All Right Reserve</p>
    <p class="font-normal">NODELOG 为开源系统，版本: 1.0 ，欢迎贡献代码</p>
    </div>
</div>
<script type="text/javascript" src="http://counter.sina.com.cn/ip/" charset="gb2312"></script>
<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
<script data-main="/js/main" src="/js/require.js?v=1"></script>
</body></html>
