.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.block {
  display: block;
}

.table-list-banner {
  margin-bottom: 10px;
}

.content-center {
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-move {
  cursor: move;
}

.pl20 {
  padding-left: 20px;
}