</div>
</div>
<div class="clearfix"></div>
</div>
</article>
</div>
<div class="backtotop" id="backtotop" style="display: block; top: 589.9999980926514px; right: 0px;">回到顶部</div>
<div class="jumbotron bg-white clear-margin">
    <div class="container color-gray font-normal">
    <p class="font-normal">&copy; 2014 CREATE THINKING CMS  All Right Reserve</p>
    <p class="font-normal">本CMS系统为开源系统，版本: 1.0 ，欢迎贡献代码</p>
    </div>
</div>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap-switch.min.js"></script>
<script src="/javascripts/layer.min.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/dataFormat.js"></script>
</body></html>
